@using Mafia.NET.Extension
@using Mafia.NET.Players
@using Mafia.NET.Players.Roles
@using Mafia.NET.Players.Roles.Selectors
@{
    ViewData["Title"] = "Game";
    Layout = "_GameLayout";
    var players = (IReadOnlyList<IPlayer>) ViewBag.Players;
    var role = (IRole) ViewBag.Role;
    var roleList = (List<IRoleSelector>) ViewBag.RoleList;
}

<div>
    <div style="padding: 1rem">
        <div class="row">
            <div class="col-sm-2">
                <div id="graveyard" class="card no-unclick interface-element">
                    <button class="btn btn-secondary card-header dropdown-toggle keep_open" data-target="#graveyard-list">
                        Graveyard
                    </button>
                    <div id="graveyard-list" class="collapse overflow-auto dropdown-list interface-element">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div id="roles" class="card no-unclick interface-element">
                    <button class="btn btn-secondary card-header dropdown-toggle keep_open" data-target="#role-list">
                        Role List
                    </button>
                    <div id="role-list" class="collapse overflow-auto dropdown-list interface-element">
                        @foreach (var roleEntry in roleList)
                        {
                            <div class="list-group-item" style="color: @roleEntry.Color.HexRgb()">@roleEntry.Name</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm">
                        <h4 id="day"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <span id="clock" class="h4 border text-center d-none"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h3 id="notification"></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 float-right">
                <div class="card interface-element">
                    <h3 class="card-header text-center role-name" style="color: @role.Color.HexRgb()">@role.Name</h3>
                    <h4 class="card-header text-center role-name" style="color: @role.Team.Color.HexRgb()">@role.Team.Name</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">Summary</div>
                                <div class="col-sm">@role.Summary</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">Abilities</div>
                                <div class="col-sm">@role.AbilitiesDescriptions</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4">Goal</div>
                                <div class="col-sm">@role.Goal</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row-game-chat">
            <div class="col-sm-4 align-self-end">
                <div id="game-messages" class="container overflow-auto text-break interface-element"></div>
                <div>
                    <input id="message-input" type="text" class="form-control" autocomplete="off" maxlength="500"/>
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div id="players">
                    <ul class="list-group list-group-flush player-list overflow-auto interface-element">
                        @foreach (var player in players)
                        {
                            <li data-player-number="@player.Number" class="list-group-item player-entry">
                                @player.Number @player.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>