@using System.Drawing
@using Mafia.NET.Players.Roles
@using Mafia.NET.Players.Teams
@{
    var role = (RoleEntry) ViewData["Role"];
    ViewData["Title"] = role.Name;
    var roleColor = ColorTranslator.ToHtml(role.Color);
    var teamColor = ColorTranslator.ToHtml(role.Team.Color);
    var teams = new[] {"Town", "Mafia", "Triad", "Neutral"}.Select(name => Team.Teams[name]);
}

<h2>@role.Name</h2>
<hr class="mb-5"/>
<div>
    <div class="row">
        <div class="float-left col-sm"></div>
        <div class="float-right col-sm">
            <div class="card">
                <h3 class="card-header text-center role-name" style="background-color: @roleColor">@role.Name</h3>
                <h4 class="card-header text-center role-name" style="background-color: @teamColor">@role.Team.Name</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Summary</div>
                            <div class="col-sm">@role.Summary</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Goal</div>
                            <div class="col-sm">@role.Goal</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Abilities</div>
                            <div class="col-sm">@role.Abilities</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Categories</div>
                            <div class="col-sm">@string.Join(", ", role.Categories.Select(category => category.Name))</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-4 role-separator"/>
    <div class="container">
        <div class="row">
            <div class="col text-center roles role-name">
                <h3 class="role-header">
                    Roles
                </h3>
            </div>
        </div>
        <div class="row">
            @foreach (var team in teams)
            {
                var thisTeamColor = ColorTranslator.ToHtml(team.Color);
                <div class="col role-name role-border" style="background-color: @thisTeamColor">
                    <h4 class="role-header">@team.Name</h4>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var team in teams)
            {
                <div class="col">
                    <div>
                        @foreach (var teamRole in RoleRegistry.Default.Team(team))
                        {
                            var teamRoleColor = ColorTranslator.ToHtml(teamRole.Color);
                            <div class="row">
                                <a class="w-100 text-decoration-none role-link" href="Wiki?query=@teamRole.Name">
                                    <div class="col role-name role-border" style="background-color: @teamRoleColor">
                                        @teamRole.Name
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>