@using Mafia.NET.Players.Roles
@using System.Drawing
@{
  var role = (RoleEntry) ViewData["Role"];
  ViewData["Title"] = role.Name;
  var color = ColorTranslator.ToHtml(role.Tint);
}

<h3>@role.Name</h3>
<hr class="my-4" style="border-color: #dee2e6"/>
<div>
  <div class="float-left"></div>
  <div class="float-right">
    <div class="card">
      <h3 class="card-header text-center" style="background-color: @color">@role.Name</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Summary</div>
            <div class="col-md">@role.Summary</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Goal</div>
            <div class="col-md">@role.Goal</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Abilities</div>
            <div class="col-md">@role.Abilities</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Team</div>
            <div class="col-md">@role.Affiliation.Name</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>