@using Mafia.NET.Players.Teams
@{
    var teams = Team.All;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Mafia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="game-body">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 navbar-mafia">
        <div class="container">
            <a id="mafia-header" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mafia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Game" asp-action="Index">Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Wiki">Wiki</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
        <div class="row">
            <div class="col text-center roles role-name">
                <h3 class="role-header">
                    Roles
                </h3>
            </div>
        </div>
        <div class="row">
            @foreach (var team in teams)
            {
                <div class="col role-name role-border" style="background-color: @team.ColorHtml()">
                    <h4 class="role-header">@team.Name</h4>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var team in teams)
            {
                <div class="col">
                    <div>
                        @foreach (var teamRole in team.Roles())
                        {
                            <div class="row">
                                <a class="w-100 text-decoration-none role-link" href="Wiki?query=@teamRole.Name">
                                    <div class="col role-name role-border" style="background-color: @teamRole.ColorHtml()">
                                        @teamRole.Name
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>