@using Mafia.NET.Extension
@using Mafia.NET.Players.Roles
@using Mafia.NET.Players.Teams
@{
    var role = (RoleEntry) ViewData["Role"];
    var team = Team.From(role.Team);
    ViewData["Title"] = role.Name;
    Layout = "_WikiLayout";
}

<h2>@role.Name</h2>
<hr class="mb-4"/>
<div>
    <div class="row">
        <div class="float-left col-sm"></div>
        <div class="float-right col-sm">
            <div class="card">
                <h3 class="card-header text-center role-name" style="background-color: @role.Color.HexRgb()">@role.Name</h3>
                <h4 class="card-header text-center role-name" style="background-color: @team.Color.HexRgb()">@team.Name</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Summary</div>
                            <div class="col-sm">@role.Summary</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Goal</div>
                            <div class="col-sm">@role.Goal</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Abilities</div>
                            <div class="col-sm">@role.AbilitiesDescription</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">Categories</div>
                            <div class="col-sm">@string.Join(", ", role.Categories.Select(category => category.Name))</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr class="my-4 role-separator"/>